<HTML>
<HEAD><table border="2" width="15%" align="center">
<th><tr body bgcolor="silver">
<th><form action="search_results.html" method="get">
<input type="text" name="query" placeholder="search or enter address" required><button type="micBUtton">🎙️</button></th></tr>
<table border="2" width="100%" align="center"><tr body bgcolor="pink"><th>
<font color="green" size="5"align="center"><h1>INDUSTRIAL TRAINING INSTITUTE NARMADANAGAR <Br>DIST-KHANDWA.(M.P)</h1></font></th></tr>

</tittle>
</head>

<body background="jola.jpg"><h5 align="center"><p align="center">

<table border="0" width="90%" align="center">
<tr body bgcolor="cyan">

<th><A href="iti page.html"><font color="black"><h1>HOME</h1></th></A>
<th><A href="image.html"><h1>image</h1></A></th>
<th><A href="trade.html"><h1>trade</h1></A></th>
<th><A href="copa.html"><h1>video</h1></A></th>
<th><A href="https://maps.google.com/"><h1>maps</h1></A></th>
<th><A href="https://www.google.com"><h1>more</h1></A></th></h5>

<table border="0" width="100%" align="center">
<th><tr body bgcolor="#bdbdbd">
<TH><marquee style=color:acid green; P STYLE="FONT_SIZE:12;"><B><h2>प्रवेश&nbspसूचना:शासकीय आई टी आई नर्मदा नगर में सत्र 2024-25 में प्रवेश हेतु कक्षा 10 वी उत्तीर्ण छात्र /छात्राए प्रवेश प्रक्रिया में भाग लें सकते है !&nbsp&nbsp&nbsp&nbspGOVT. ITI NARMADA &nbspNAGAR </h2></B></marquee></TH>
</TR>
</TABLE>

<marquee behavior="alternate"style=color:acid green; P STYLE="FONT_SIZE:12;" marquee scrollamount="20" scrolldelay="100"><B><h2>

<img src="a.jpeg" height="63%" width="50%" Align="center">&nbsp&nbsp

<img src="b.jpeg" height="63%" width="50%"  Align="center">&nbsp&nbsp

<img src="c.jpeg" height="63%" width="50%"   Align="center">&nbsp&nbsp
<img src="cc.jpeg"height="63%" width="50%"  Align="center">&nbsp&nbsp
<img src="d.jpeg"height="63%" width="50%"   Align="center">&nbsp&nbsp
<img src="dd.jpeg" height="63%" width="50%"   Align="center">&nbsp&nbsp
<img src="e.jpeg" height="63%" width="50%"    Align="center">&nbsp&nbsp
<img src="f.jpeg" height="63%" width="50%"  Align="center">&nbsp&nbsp

</h2></B></marquee>
<font color="green" size="10"align="center">
<TABLE BORDER="1" WIDTH="100%" ALIGN="CENTER"> 
<tittle align="center"><H1><font color="green" size="5" align="center"> </H1></tittle>
</head>

 



<table border="0" width="100%" align="center">
<th><tr body bgcolor="#e8f5e9">
<TH><marquee style=color:acid green; P STYLE="FONT_SIZE:12;"><B><h2>संपर्क सूत्र : डी .एस .धनगाया प्रशिक्षण अधिकारी मो .9109855265 /&nbsp&nbsp:श्री एन .एस .यादव  प्रशिक्षण अधिकारी मो .9109382030    &nbsp&nbsp&nbsp&nbspGOVT. ITI NARMADA &nbspNAGAR </h2></B></marquee></TH>
</TR>
</TABLE>

</body>
</html>

